body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather'
}

div {
  background-color: #f7f7f7;
  padding-top: 100px;
  /* if you set child as absolute parent must be relative */
  position: relative;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento';
  font-size: 5.5rem;
  margin: 40 auto 0 auto;
  padding-bottom: 0;
  /* Rem= % irrespective to parent  */
  /* em= % respective to parent  */
/* 1em=100=16px */
}

h2 {
  color: #66BFBF;
  font-size: 30px;
  margin: 0 auto 0 auto;
  font-family: 'Montserrat';
  font-weight: normal;
  line-height: 2;
}

br{
  size:2;
}

h3 {
  color:  #11999E;
  font-family: 'Montserrat'
}
a {
  color:  #11999E;
}
.color-blue {
  background-color: blue
}
.myimg{
  height:200px;
  width: 200px;
  border-radius: 50%;
}
.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}
