.body{
  font-family: "Montserrat";
}

#title{
  background-color:#ff4c68;
}

h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color:#fff;
}

.container-fluid{
  padding: 3% 15%;
}

/* navigation Bar */
.navbar{
  padding: 0 0 2.5rem 0;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.nav-link{
  font-family: "Montserrat-lighter" ;
  font-size: 1.2rem;
  font-weight: lighter;
}
.nav-item{
  padding:0 20px;
}
/*
Download button */

.download-btn{
margin:5% 3% 10% 2%;
}

/* Image */

.image-phone{
width:60%;
transform: rotate(25deg);
/* posiiton shouldn't be static for z-index */
position: absolute;
z-index: 0;
}

@media (max-width: 1000px) {
  .image-phone{
  position: static;
  transform: rotate(0);
  }
  .title-row{
    text-align: center;
  }
}

/* Feature section */
#features{
  padding: 7% 15% 9%;
  position: relative;
  background-color:#fff;
}

.mid-sec{
  /* position must not be static(default) before applying zindex */
  position: relative;
   z-index:1;
  /* We didn't even had to make z-index:1 as mid-sec is below image hence
  above the image in z positioning */

}

.icon{
  color :#ef8172;
  padding-bottom: 1rem;
}
.icon:hover{
  color :#ff4c68;
}
.h3
{
  font-family: "Montserrat-bold";
  color
}

/* Testimonial section */

#testimonials{
  background-color:#ff4c68;
  color: white;
  text-align: center;
}

.testimonial-image{
  width: 10%;
border-radius: 100%;
margin: 1rem;
}

.h2{
font-family: "Montserrat-bold";
line-height: 1.5rem;
font-size: 3rem;
}

.carousel-item{
  padding: 7% 15%;
}

/* press section */
#press{
  background-color:#ff4c68;
  text-align: center;
}

.press-image{
  width: 15%;
  padding: 10px;
}

/* Pricing */

#pricing{
  padding: 5%;
  text-align: center;
}

.column-pricing{
  padding:5% 3%;
}

/* Cta section */

#cta{
  background-color:#ff4c68;
  text-align: center;
  padding :7% 15%;
}

.bottom-header{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

/* footer */
#footer{
  text-align: center;
  padding :4% 15%;
}

.social-btn{
  margin:25px 16px;
}
