.body{
  font-family: "Montserrat";
}

#title{
  background-color:#ff4c68;
}

h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color:#fff;
}

.container-fluid{
  padding: 3% 15%;
}

.img{
  transform: rotate(90deg);
  margin: 10px 0;
}
/* navigation Bar */
.navbar{
  padding: 0 0 2.5rem 0;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.nav-link{
  font-family: "Montserrat-lighter" ;
  font-size: 1.2rem;
  font-weight: lighter;
}
.nav-item{
  padding:0 20px;
}
/*
Download button */

.download-btn{
margin:5% 3% 10% 2%;
}

/* Image */

.image{
width:60%;
transform: rotate(25deg);
}

/* Feature section */
#features{
  padding: 7% 15%;
}

.icon{
  color :#ef8172;
  padding-bottom: 1rem;
}
.icon:hover{
  color :#ff4c68;
}
.h3
{
  font-family: "Montserrat-bold";
}

/* Testimonial section */

#testimonials{
  background-color:#ff4c68;
  color: white;
  text-align: center;
}

.testimonial-image{
  width: 10%;
border-radius: 100%;
margin: 1rem;
}

.h2{
font-family: "Montserrat-bold";
line-height: 1.5rem;
font-size: 3rem;
}

.carousel-item{
  padding: 7% 15%;
}

/* press section */
#press{
  background-color:#ff4c68;
  text-align: center;
}

.press-image{
  width: 15%;
  padding: 10px;
}

/* Pricing */

#pricing{
  padding: 5%;
  text-align: center;
}

.column-pricing{
  padding:5% 3%;
}
